{% extends "layout.html.twig" %}

{% block content %}

    {% if resultados is null %}
        0 results
        <p><a href="/">Volver</a></p>
    {% else %}
        <table cellpadding="5">
            <tr>
                <th>Código del departamento</th>
                <th>Nombre del departamento</th>
                <th>Localización</th>
                <th>Color</th>
            </tr>
        {% for row in resultados %}
            <tr>
                <td><a href="/employesList/{{row.DEPT_NO}}">{{row.DEPT_NO}}</a></td>
                <td>{{row.DNOMBRE|capitalize}}</td>
                <td>{{row.LOC|capitalize}}</td>
                <td>{{row.color|lower}}</td>
            </tr>
        {% endfor %}
        </table>
        <p><a href="/">Volver</a></p>
    {% endif %}

{% endblock %}